<div class="page-title d-flex flex-column gap-1 me-3 mb-2">
    <ul class="breadcrumb text-muted fs-6 fw-semibold mb-6 text-gray-500">
        <li class="breadcrumb-item fw-bold lh-1">
            <i class="ms-2 fas fa-home fs-3 text-gray-500 me-n1"></i>
        </li>

        <li class="breadcrumb-item fw-bold lh-1">
            Dashboards
        </li>

        <li class="breadcrumb-item fw-bold lh-1 text-gray-700">
            Dashboards
        </li>
    </ul>
    <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bolder fs-1 lh-0">
        Dashboard
    </h1>
</div>
