<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] != null ? $"{ViewData["Title"]} - " : "")Luxen Premium Hotel</title>

    <link rel="icon" href="/favicon.ico" sizes="64x64" type="image/png" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/flexslider/css/flexslider.css" />
    <link rel="stylesheet" href="~/lib/prettyphoto/css/prettyPhoto.css" />
    <link rel="stylesheet" href="~/lib/datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="~/lib/selectordie/css/selectordie.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/7.3.2/css/flag-icons.min.css" />
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div id="wrapper">
        @await Html.PartialAsyncFromArea("Customer", "Partials/_Header")

        <div class="content">
            @if (@ViewData["Title"] != null)
            {
                @await Html.PartialAsyncFromArea("Customer", "Partials/_Breadcrumb")
            }
            @RenderBody()
            @await Html.PartialAsyncFromArea("Customer", "Partials/_Footer")
        </div>
    </div>
    <script src="~/lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/retina/retina-1.1.0.min.js"></script>
    <script src="~/lib/flexslider/js/jquery.flexslider-min.js"></script>
    <script src="~/lib/superfish/superfish.pack.1.4.1.js"></script>
    <script src="~/lib/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="~/lib/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/selectordie/js/selectordie.min.js"></script>
    <script src="~/lib/slicknav/jquery.slicknav.min.js"></script>
    <script src="~/lib/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="~/js/auth.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>